<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>account</key>
	<string>YOUR_ACCOUNT</string>
	<key>password</key>
	<string>YOUR_PASSWORD</string>
	<key>domain</key>
	<string>YOUR_SIP_SERVER_DOMAIN_LIKE_210.100.102.500:5060</string>
</dict>
</plist>
